---
layout: "base.njk"
---

{% block content %}
    <div class="page-meta">
        <!-- Название -->
        {% if title %}
        <div class="meta-item">
            <span class="meta-label">Тайтл:</span>
            <span class="meta-value">{{ title }}</span>
        </div>
        {% endif %}

        <!-- Аниме статус -->
        {% if anime_status %}
        <div class="meta-item">
            <span class="meta-label">Аниме:</span>
            <span class="meta-value">{{ anime_status }}</span>
        </div>
        {% endif %}

        <!-- Манга статус -->
        {% if manga_status %}
        <div class="meta-item">
            <span class="meta-label">Манга:</span>
            <span class="meta-value">{{ manga_status }}</span>
        </div>
        {% endif %}

        <!-- Манга автор -->
        {% if manga_author %}
        <div class="meta-item">
            <span class="meta-label">Мангака:</span>
            <span class="meta-value">{{ manga_author }}</span>
        </div>
        {% endif %}

        <!-- Теги -->
        {% if tags %}
        <div class="meta-item">
            <span class="meta-label">Теги:</span>
            <div class="tags">
                {% for tag in tags %}
                <span class="tag">{{ tag }}</span>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <!-- Оценка -->
        {% if score %}
        <div class="meta-item">
            <span class="meta-label">Оценка:</span>
            <span class="score-pill score-{{ score | getScoreColor }}">
                <span class="score-numerator">{{ score | split('/') | first | trim }}</span>
                <span class="score-separator">/</span>
                <span class="score-denominator">10</span>
            </span>
        </div>
        {% endif %}

        <!-- Дата просмотра -->
<!--        {% if watch_date %}-->
<!--        <div class="meta-item">-->
<!--            <span class="meta-label">Просмотр:</span>-->
<!--            <time class="meta-value" datetime="{{ watch_date | dateToRfc3339 }}">-->
<!--                <i>{{ watch_date | shortDate }}</i>-->
<!--            </time>-->
<!--        </div>-->
<!--        {% endif %}-->
    </div>

    <!-- Оригинальный контент -->
    <div class="content-wrapper">
        <div class="article">
            <article class="article__content">
                {{ content | safe }}
            </article>
        </div>
    </div>

    <!-- Дата обновления -->
    {% if upd_date %}
    <div class="page-updated">
        <small>{{ upd_date | readableDate }}</small>
    </div>
    {% endif %}

{% endblock %}