.page-meta {
    background: #f5f5f5;
    padding: 1rem;
    border-radius: 8px;
    margin: 1rem 0;
}

.meta-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.meta-item:has(.score-pill) {
    //margin-top: 0.75rem;
    //padding-top: 0.2rem;
    //border-top: 1px solid #e0e0e0; /* опциональная разделительная линия */
}

.meta-label {
    font-weight: bold;
    margin-right: 0.5rem;
    min-width: 120px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tag {
    background: linear-gradient(135deg, #f8f9fa 0%, #e9ecef 100%);
    color: #495057;
    padding: 0.1rem 0.75rem;
    border-radius: 6px;
    font-size: 0.8rem;
    border: 1px solid #dee2e6;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.page-updated {
    margin-top: 3rem;
    padding-top: 1rem;
    border-top: 1px solid #f0f0f0;
    text-align: center;
}

.page-updated small {
    color: #888;
    font-size: 0.8rem;
    font-style: italic;
}

/* score - базовые стили */
.score-pill {
    display: inline-flex;
    align-items: center;
    padding: 0.01rem 0.75rem;
    border-radius: 7px;
    font-size: 0.9rem;
    gap: 0.2rem;
    border: 1px solid;
}

.score-numerator {
    //font-weight: 600;
    font-size: 0.85rem;
}

.score-separator {
    //font-weight: 400;
}

.score-denominator {
    font-size: 0.85rem;
}

/* score - цветовые схемы */
.score-high { /* 8-10 */
    color: #1a531b;
    background: #e8f5e8;
    border-color: #c8e6c9;
}
.score-high .score-numerator { color: #1b5e20; }
.score-high .score-separator { color: #4caf50; }
.score-high .score-denominator { color: #66bb6a; }

.score-medium { /* 5-7 */
    color: #424242;
    background: #eeeeee;
    border-color: #e0e0e0;
}
.score-medium .score-numerator { color: #212121; }
.score-medium .score-separator { color: #757575; }
.score-medium .score-denominator { color: #9e9e9e; }

.score-low { /* 1-4 */
    color: #8b1a1a;
    background: #fde8e8;
    border-color: #f5c6c6;
}
.score-low .score-numerator { color: #c53030; }
.score-low .score-separator { color: #e53e3e; }
.score-low .score-denominator { color: #fc8888; }